<% include partials/header %>
<h1>Add New Customer</h1>

<% if(errors){ %>
    <ul>
        <% errors.forEach(function(error){ %>
        <li><em><%= error.msg %></em></li>
        <% }) %>
    </ul>
<% } %>

<form method="POST" action="/users/new">
    <label for="First Name">First Name</label><br>
    <input type="text" name="first_name" placeholder="Enter your first name">
    <br>
    <label for="Last Name">Last Name</label><br>
    <input type="text" name="last_name" placeholder="Enter your last name">
    <br>
    <label for="Email">Email</label><br>
    <input type="text" name="email" placeholder="Enter your email">
    <br>
    <input type="submit" value="Submit"><br>
</form>

<h1><%= title %></h1>


<% users.forEach(function(user){{ %>

    <p>My name is <%= user.first_name %> <%= user.last_name %></p>
    <p><strong>Email:</strong> <em><%= user.email %></em>
    -- <a href="#">Delete Customer</a>

<% }}) %>

<% include partials/footer %>


